<div class="side-bar">
  <div class="side-bar__header">
    <app-logo size="min"></app-logo>
  </div>
  <div routerLink="admin/card" routerLinkActive="active" class="side-bar__step">
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#pan-icon"></use>
      </svg>
    </span>
    Карточка автомобиля
  </div>
  <div routerLink="admin/list" routerLinkActive="active" class="side-bar__step">
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#list-icon"></use>
      </svg>
    </span>
    Список авто
  </div>
  <div
    routerLink="admin/orders"
    routerLinkActive="active"
    class="side-bar__step"
  >
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#order-icon"></use>
      </svg>
    </span>
    Заказы
  </div>
  <div class="side-bar__step">
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#shape-icon"></use>
      </svg>
    </span>
    Menu 4
  </div>
  <div class="side-bar__step">
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#table-icon"></use>
      </svg>
    </span>
    Menu 5
  </div>
  <div class="side-bar__step">
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#person-icon"></use>
      </svg>
    </span>
    Menu 6
  </div>
  <div class="side-bar__step">
    <span class="step_icon">
      <svg class="icon-img">
        <use xlink:href="assets/sprite/symbol-defs.svg#error-icon"></use>
      </svg>
    </span>
    Menu 7
  </div>
</div>
