@import '../../../shared/common-styles/variables.less';
@import '../../common-styles/text.less';

.logo {
  display: inline-flex;
  align-items: center;

  &__img{
    margin-right: 12px;
  }

  &__title {
    font-size: 24px;
    line-height: 120%;
  }
}

.logo.min-size {

  .logo__img{

    width: 21.5px;
    margin-right: 7px;
  }

  .logo__title {

    font-size: 16px;
    line-height: 120%;
  }
}
