<h2 class="car-list_title">Список авто</h2>

<div class="table-wrapp">
  <div class="table-filters">
    <div class="table-filters__input-wrapp">
      <div class="input">
        <select
          class="input__field"
          (change)="selectChange(typeSelect.value)"
          #typeSelect
        >
          <option>Не выбранно</option>
          <option *ngFor="let item of category">
            {{ item.name }}
          </option>
        </select>
      </div>
      <app-input
        (changeValue)="applyParam({ name: $event })"
        [isRequired]="false"
      >
      </app-input>
    </div>
    <div class="wrappp-btn">
      <button class="btn btn-red" (click)="clearParams()">Сбросить</button>
      <button class="btn btn-primary" (click)="getCars()">Применить</button>
    </div>
  </div>
  <table class="table" *ngIf="cars$ | async as cars; else loading">
    <thead class="table__heading">
      <tr>
        <th>Название</th>
        <th>Категория</th>
        <th>Номер</th>
        <th>Описание</th>
        <th>Минимальная цена</th>
        <th>Мфксимальная цена</th>
        <th>Доступные цвета</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr *ngFor="let car of cars">
        <td class="table__cell">
          <span *ngIf="car.name; else noname">
            {{ car.name }}
          </span>
          <ng-template #noname> Неизвестно </ng-template>
        </td>
        <td class="table__cell">
          <span *ngIf="car.categoryId && car.categoryId.name; else nocategory">
            {{ car.categoryId.name }}
          </span>
          <ng-template #nocategory> Неизвестно </ng-template>
        </td>
        <td class="table__cell">
          <span *ngIf="car.number; else nonumber">
            {{ car.number }}
          </span>
          <ng-template #nonumber> Неизвестно </ng-template>
        </td>
        <td class="table__cell">
          <span *ngIf="car.description; else nodesc">
            {{ car.description }}
          </span>
          <ng-template #nodesc> Неизвестно </ng-template>
        </td>
        <td class="table__cell">
          <span *ngIf="car.priceMin; else noPriceMin"> {{ car.priceMin }}</span>
          <ng-template #noPriceMin> Неизвестно </ng-template>
        </td>
        <td class="table__cell">
          <span *ngIf="car.priceMax; else noPriceMax">
            {{ car.priceMax }}
          </span>
          <ng-template #noPriceMax> Неизвестно </ng-template>
        </td>
        <td class="table__cell">
          <span *ngIf="car.colors; else nocolors">
            {{ car.colors }}
          </span>
          <ng-template #nocolors> Неизвестно </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
  <app-paginator
    class="table-paginator"
    [totalPages]="numberOfPages"
    (changePage)="changePage($event)"
  ></app-paginator>
</div>
