<button class="paginator__button paginator__button-step" (click)="onPrevStep()">
  <<
</button>
<button
  class="paginator__button"
  (click)="onClick(startPage)"
  [ngClass]="{ hidden: activePage < numThree }"
>
  {{ startPage }}
</button>
<span
  *ngIf="activePage > numThree"
  (click)="onClick(prevPage)"
  class="paginator__points"
  >...</span
>
<button
  class="paginator__button"
  (click)="onClick(prevPage)"
  [ngClass]="{ hidden: prevPage == minPage }"
>
  {{ prevPage }}
</button>
<div class="curent-page paginator__button">
  {{ activePage }}
</div>
<button
  class="paginator__button"
  (click)="onClick(nextPage)"
  [ngClass]="{ hidden: activePage == totalPages }"
>
  {{ nextPage }}
</button>
<span *ngIf="activePage < totalPages - numTwo" class="paginator__points"
  >...</span
>
<button
  class="paginator__button"
  (click)="onClick(totalPages)"
  [ngClass]="{ hidden: activePage > totalPages - numTwo }"
>
  {{ totalPages }}
</button>
<button class="paginator__button paginator__button-step" (click)="onNextStep()">
  >>
</button>
