<label class="input__label" [for]="name">{{ label }}</label>
<input
  class="input__field"
  [name]="name"
  [type]="type"
  [value]="value"
  [placeholder]="placeholder"
  [step]="step"
  (change)="onChange(input.value)"
  (focus)="onFocus()"
  (blur)="onBlur()"
  [min]="min"
  [max]="max"
  #input
/>

<button
  *ngIf="input.value != ''"
  type="button"
  (click)="onDeleteValue()"
  class="input__btn"
>
  <svg class="close-icon">
    <use xlink:href="assets/sprite/symbol-defs.svg#close-icon"></use>
  </svg>
</button>
