<div class="view-container">
  <div class="default-view" *ngIf="imgModel.src === ''">
    Изображение не загружено
  </div>
  <img class="view-img" #imgModel />
  <h4 class="view-name text-helvetica color-navy">{{ name }}</h4>
  <div class="view-type">{{ type }}</div>
  <app-input-file (getImage)="getImage($event)" #inputFile></app-input-file>
</div>
<app-progress [level]="procent"></app-progress>
<app-textarea
  label="Описание"
  placeholder="Введите описание..."
  (changeValue)="textareaChange($event)"
  #textarea
></app-textarea>
