<h3 class="setting__title color-navy">Настройки автомобиля</h3>

<div class="setting">
  <div class="setting__container" formGroupName="settings">
    <div class="row">
      <app-input
        class="input"
        label="Модель автомобиля"
        name="model"
        formControlName="model"
        (changeValue)="changeModel($event)"
        errorText="Введите название модели"
      ></app-input>

      <app-input
        class="input"
        label="Номер автомобиля"
        name="number"
        formControlName="number"
        (changeValue)="changeNumber($event)"
        errorText=" Введите номер автомобиля"
      ></app-input>
    </div>
    <div class="row">
      <div class="input">
        <label class="input__label">Тип автомобиля</label>
        <select
          class="input__field"
          formControlName="type"
          (change)="changeType(selectType.value)"
          #selectType
        >
          <option *ngIf="settingForm.controls['type'].value === ''" selected>
            {{ typeDefault }}
          </option>
          <option *ngFor="let item of categotyList">
            {{ item }}
          </option>
        </select>
        <div
          [hidden]="controlIsValid('type')"
          class="error-text text-helvetica"
        >
          {{ typeDefault }}
        </div>
      </div>

      <div class="colors-values">
        <div class="input-field">
          <div class="input">
            <label class="input__label" for="color">Доступные цвета</label>
            <input
              formControlName="colors"
              class="input__field"
              type="text"
              name="color"
              (change)="addColor(inputColor.value)"
              #inputColor
            />
            <app-button-close
              *ngIf="inputColor.value != ''"
              (onClick)="inputColor.value = ''"
            ></app-button-close>
            <div
              [hidden]="controlIsValid('colors')"
              class="error-text text-helvetica"
            >
              Добавьте цвет
            </div>
          </div>
          <button class="btn-plus btn_set-color"></button>
        </div>
        <div class="checkbox-field">
          <div
            class="checkbox__item"
            *ngFor="let color of colorsList; let i = index"
          >
            <app-checkbox
              (toggleCheckBox)="toggleCheckBox($event)"
              [label]="color"
              [name]="i.toString()"
              [isChecked]="true"
            ></app-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="daterange-container">
        <app-input
          class="input"
          formControlName="priceMin"
          label="Минимальная цена"
          name="price-min"
          step="10"
          [min]="10"
          type="number"
          (changeValue)="changePriceMin($event)"
          errorText="Добавьте цену"
        ></app-input>

        <app-input
          class="input"
          label="Максимальная цена"
          name="price-max"
          step="10"
          type="number"
          [min]="0"
          formControlName="priceMax"
          (changeValue)="changePriceMax($event)"
          errorText="Добавьте цену"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="button-container">
    <div>
      <button
        class="btn btn-primary btn-size-m"
        (click)="saveNewCar()"
        [disabled]="!formModel.valid"
      >
        Сохранить
      </button>
      <button class="btn btn-grey btn-size-m" (click)="onCancel()">
        Отменить
      </button>
    </div>

    <button
      *ngIf="carIsEmpty"
      class="btn btn-red btn-size-m"
      (click)="onDelete()"
    >
      Удалить
    </button>
  </div>
</div>
