<h3 class="setting__title color-navy">Настройки автомобиля</h3>

<div class="setting">
  <div class="setting__container" formGroupName="settings">
    <div class="row">
      <div class="input">
        <label class="input__label" for="model">Модель автомобиля</label>
        <input
          formControlName="model"
          class="input__field"
          type="text"
          name="model"
          (change)="changeModel(inputModel.value)"
          #inputModel
        />
        <app-button-close
          *ngIf="inputModel.value != ''"
          (onClick)="changeModel('')"
        ></app-button-close>
        <div
          [hidden]="controlIsValid('model')"
          class="error-text text-helvetica"
        >
          Введите название модели
        </div>
      </div>
      <div class="input">
        <label class="input__label" for="number">Номер автомобиля</label>
        <input
          formControlName="number"
          class="input__field"
          type="text"
          name="number"
          (change)="changeNumber(inputNumber.value)"
          #inputNumber
        />
        <app-button-close
          *ngIf="inputNumber.value != ''"
          (onClick)="changeNumber('')"
        ></app-button-close>
        <div
          [hidden]="controlIsValid('number')"
          class="error-text text-helvetica"
        >
          Введите номер автомобиля
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input">
        <label class="input__label">Тип автомобиля</label>
        <select
          class="input__field"
          formControlName="type"
          (change)="changeType(selectType.value)"
          #selectType
        >
          <option selected>{{ typeDefault }}</option>
          <option *ngFor="let item of categotyList">
            {{ item }}
          </option>
        </select>
        <div
          [hidden]="controlIsValid('type')"
          class="error-text text-helvetica"
        >
          {{ typeDefault }}
        </div>
      </div>

      <div class="colors-values">
        <div class="input-field">
          <div class="input">
            <label class="input__label" for="color">Доступные цвета</label>
            <input
              formControlName="colors"
              class="input__field"
              type="text"
              name="color"
              (change)="addColor(inputColor.value)"
              #inputColor
            />
            <app-button-close
              *ngIf="inputColor.value != ''"
              (onClick)="inputColor.value = ''"
            ></app-button-close>
            <div
              [hidden]="controlIsValid('colors')"
              class="error-text text-helvetica"
            >
              Добавьте цвет
            </div>
          </div>
          <button class="btn-plus btn_set-color"></button>
        </div>
        <div class="checkbox-field">
          <div
            class="checkbox__item"
            *ngFor="let color of colorsList; let i = index"
          >
            <app-checkbox
              (toggleCheckBox)="toggleCheckBox($event)"
              [label]="color"
              [name]="i.toString()"
              [isChecked]="true"
            ></app-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="daterange-container">
        <div class="input">
          <label class="input__label" for="price-min">Минимальная цена</label>
          <input
            formControlName="priceMin"
            class="input__field"
            type="number"
            min="0"
            step="10"
            name="price-min"
            (change)="changePriceMin(priceMin.value)"
            #priceMin
          />
          <div
            [hidden]="controlIsValid('priceMin')"
            class="error-text text-helvetica"
          >
            Добавьте цену
          </div>
        </div>
        <div class="input">
          <label class="input__label" for="price-max">Максимальная цена</label>
          <input
            formControlName="priceMax"
            class="input__field"
            type="number"
            step="10"
            name="price-max"
            (change)="changePriceMax(priceMax.value)"
            #priceMax
          />
          <div
            [hidden]="controlIsValid('priceMax')"
            class="error-text text-helvetica"
          >
            Добавьте цену
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <div>
      <button
        class="btn btn-primary btn-size-m"
        (click)="saveNewCar()"
        [disabled]="!formModel.valid"
      >
        Сохранить
      </button>
      <button class="btn btn-grey btn-size-m">Отменить</button>
    </div>

    <button class="btn btn-red btn-size-m" (click)="onDelete()">Удалить</button>
  </div>
</div>
