@import '../../../../shared/common-styles/variables.less';
@import '../../../../shared/common-styles/text.less';
@import '../../../../shared/common-styles/input.less';
@import '../../../../shared/common-styles/button.less';

:host {
  padding: 20px;
  background-color: @color-white;
  border-radius: 9px;
  width: 100%;
  box-shadow: @shadow;

  .setting__title {
    margin-bottom: 42px;
  }

  .setting {
    height: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .input {
      width: 46%;
    }
  }

  .daterange-container {
    .input {
      margin-bottom: 10px;
    }
  }

  .colors-values {
      width: 50%;

    .input-field {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 16px;

      .input {
        width: 83%;
        margin-right: 12px;

        .error-text {
          position: absolute;
          top: 54px;
        }
      }

      .btn_set-color {
        margin-top: 21px;
      }
    }

    .checkbox-field {
      padding-left: 40px;

      .checkbox__item {
        margin-bottom: 8px;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;

    .btn {
      margin: 0 6px;
    }
  }
}

@media (max-width: 520px){
  .row {
    flex-direction: column;

    .set-input {
      width: 100%;
    }
  }

  .button-container {
    .btn:first-child {
      margin-bottom: 12px;
    }
  }
}
